<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- if running on windows VM, use value="http://192.168.50.20:5000/api/v1" -->
		<!-- else if running on host, use value="http://127.0.0.1:5000/api/v1 -->
		<add key="DVUrl" value="http://127.0.0.1:5000/api/v1" />
		<add key="Username" value="ENGINEER\admin" />
		<add key="Password" value="P@ssw0rd" />
	</appSettings>
</configuration>